name: Run Telegram Bot

on:
  schedule:
    - cron: "*/10 * * * *"  # ogni 10 minuti
  workflow_dispatch:        # permette avvio manuale

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      - name: Run bot
        run: python post_bot.py
